
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:15%"></div>
<section id="abouts" class="abouts">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="margin-top:15%"></div>
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-md-12">
                <div class="col-sm-6">
                    <input type="email" name="email" id="email" placeholder="email address" class="form-control col-sm-offset-6" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-sm-6">
                    <input type="password" name="password" id="password" placeholder="password" class="form-control col-sm-offset-6" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <input type="submit" value="Login" class="btn btn-success col-sm-offset-6" />
                </div>
            </div>

        </div>
        <div style="margin-bottom:15%"></div>

    }
</section>
<div style="margin-bottom:15%"></div>